<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="registro-element">
  <template>
    <style>
      :host {
        display: block;
        background-color: #e5e5e5;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
      }

      button {
        background-color: #1089ff;
        margin-left: 130px;
        border-radius: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 13px;
      }

      input {
        border-radius: 5px;
      }

      #login {
        background-color: #1089ff;
        font-family: 'Alegreya', serif;
      }

      #prenda {
        margin-left: 20px;
      }
      #talla {
        margin-left: 35px;
      }
      #costo {
        margin-left: 28px;
      }
    </style>
    <h2 id="login">Ingresa el articulo</h2>
    <template is="dom-if" if="[[!registro]]" restamp>
      <form>
        <p>
          <label for="prenda">Prenda:</label>
          <input type="text" name="prenda" id="prenda" onfocus="this.value=''">
        </p>
        <p>
          <label for="talla">Talla:</label>
          <input type="text" name="talla" id="talla" onfocus="this.value=''">
        </p>
        <p>
          <label for="costo">Costo:</label>
          <input type="number" name="costo" id="costo" onfocus="this.value=''">
        </p>
        <p>
          <label for="proveedor">Proveedor:</label>
          <input type="text" name="proveedor" id="proveedor" onfocus="this.value=''">
        </p>
        <button type="button" on-click="validar" id="btnData">Continue</button>
      </form>
      ​
    </template>
    <template is="dom-if" if="[[registro]]">
      <h2>Bienvenido [[registro]]</h2>
    </template>
  </template>

  <script>
    /**
     * `ejercicio-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RegistroElement extends Polymer.Element {
      static get is() { return 'registro-element'; }
      static get properties() {
        return {
          prendas: {
            type: Array,
            value: [{
              prenda: 'pantalon',
              talla: 32,
              costo: 350,
              proveedor: 'levis',
            }, {
              prenda: 'camiza',
              talla: 'mediana',
              costo: 180,
              proveedor: 'H&M',
            }, {
              prenda: 'sueter',
              talla: 'grande',
              costo: 220,
              proveedor: 'H&M',
            }]
          },
          registro: {
            type: String,
            value: ""

          }
        };
      }

      validar() {
        let talla = this.shadowRoot.getElementById('talla');
        let costo = this.shadowRoot.getElementById('costo');
        let proveedor = this.shadowRoot.getElementById('proveedor');
        let elem = document.querySelector('registro-element');
        let pr = this.shadowRoot.getElementById('prenda');
        let si = false;
        let pos = 0;
        this.prendas.forEach(key => {
          if (pr.value == key.prenda) {
            si = true;
            pos = this.prendas.findIndex(articulo => articulo.prenda === pr.value);
            console.log(pos);
          }
        });
        if (!si) {
          console.log("El articulo " + pr.value + " ha sido almacenado correctamente");
          let mensaje = confirm("¡El articulo " + pr.value + " ha sido almacenado correctamente!\n¿Deseas realizar una nueva publicación?");
          this.prendas.push({
            'prenda': pr.value,
            'talla': talla.value,
            'costo': costo.value,
            'proveedor': proveedor.value
          })
          console.log(elem.prendas);
          if (!mensaje) {
            this.registro = pr.value;
          }
        } else {
          console.log("¡El articulo: " + pr.value + " ya existe!");
          let mensaje = confirm("¡El articulo: " + pr.value + " ya existe!\n¿Deseas actualizarlo?");
          if (mensaje) {
            let msg = confirm("¡El articulo " + pr.value + " ha sido almacenado correctamente!\n¿Deseas realizar una nueva publicación?");
            this.prendas.splice(pos, 1, ({
              'prenda': pr.value,
              'talla': talla.value,
              'costo': costo.value,
              'proveedor': proveedor.value
            }));
            console.log(elem.prendas);
            if (!msg) {
              this.registro = pr.value;
            }
          }
        }
      }

    }

    window.customElements.define(RegistroElement.is, RegistroElement);
  </script>
</dom-module>